<mat-toolbar class="mat-elevation-z1" ngClass.lt-md="mobile">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- MENU DESKTOP -->
    <div class="menu" fxLayout="row" fxFlexAlign="center" fxHide.lt-md>
      <a
        class="menu-item"
        routerLinkActive="active"
        (click)="navegarParaHome()"
        matRipple
      >
        Home
      </a>
    </div>
  </div>
  <!-- MOBILE MENU -->
  <div class="mobile-menu" fxHide.gt-sm fxLayout="row">
    <div class="toolbar-separator mat-blue-700-bg"></div>

    <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="s-24">menu</mat-icon>
      </div>
    </button>

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
      <button routerLink="/" mat-menu-item>Home</button>
    </mat-menu>
  </div>
</mat-toolbar>