
mat-toolbar {
    font-family: Roboto;
    background: #FA810F;
    min-height: 50px;
    padding: 0 30px;
    color: #fff;
    &.mobile {
      min-height: 45px;
    }
  }
  
  .container {
    max-width: 1140px;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  
  .menu {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: -3px;
  
    &:hover {
      cursor: pointer;
    }
  
    .menu-item {
      &.active {
        color: #c3c3c3;
        border-bottom: solid 3px #c3c3c3;
      }
      margin: 0px 0px;
      padding: 10px 14px 15px 14px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
  
    }
  
  
  }
  
  
  ::ng-deep {
    .mat-menu-content {
      min-width: 190px;
    }
  }
  