.tabela{
    border-radius: 5px;
}
.wrapper{
    gap:50px
}

.card{
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    min-height: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p{
        text-align: center;
    }
    .nome-heroi{
        font-size: 1.3rem;
        font-weight: 500;
    }

    .nome{
        font-size: 0.9rem;
    }

    &:hover{
        background-color: rgb(255, 244, 234);
        cursor: pointer;
        transform: scale(1.025);
        transition: 0.2s ease-in-out;
    }
    
    .botao{
        font-size: 0.7rem;
        color: #c3c3c3;
    }
}