<ng-container >
    <div class="container">
        <div class="item-1 height-50 item">
       a
        </div>
        <div class="item-2 height-50 item">
       b
        </div>
    </div>
 
 
    <!-- <div fxLayout="column" fxLayoutAlign="center center">
        <p>Bem vindo ao Painel de Controle dos Super Heróis da cidade!</p>
    </div>
<div class="card-list">
    <div *ngFor="let card of cards" class="card" (click)="navegarParaLista(card.function)">
        <p class="titulo">{{card.titulo}}</p>
        <p class="descricao">{{card.descricao}}</p>
    </div>
</div> -->
</ng-container>

