h1{
    margin: 0;
    text-align: center;
}

hr{
    border: solid 0.1px #c3c3c3;
    margin: 20px 0 20px 0;
}

.mat-dialog-content{
    margin: 20px 0
}

.flat-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #FA810F;
    height: 45px;
    width: 80px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 200px;
    
    &:hover{
        background-color: rgb(253, 174, 99);
    }
  }